<!-- <app-diretiva-ng-if></app-diretiva-ng-if> -->
<!-- <app-diretiva-ng-for></app-diretiva-ng-for> -->
<!-- <app-diretiva-ng-switch></app-diretiva-ng-switch> -->
<!-- <app-diretiva-ng-class></app-diretiva-ng-class> -->
<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-ng-content>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>25</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jane</td>
      <td>30</td>
    </tr>
  </app-ng-content> -->

  <app-diretivas-customizadas></app-diretivas-customizadas>
